* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    width: 100%;
    font-size: 2.2rem;
}

#budget {
    border-bottom: black 3px solid;
    padding: .5rem 25rem;
    margin: 1rem;
}

main {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

section {
    width: 50%;
    background-color: #4080ddf0;
    margin: 1rem;
    box-shadow: black 3px 3px 3px 3px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

/**    modal window    **/
#theBox h1 {
    width: 100%;
    border-bottom: #add8e6 5px solid;
    text-align: center;
}

#innerBox {
    height: 15vh;
}

table, #result div {
    background-color: #add8e6;
}

#outlay, #income, #saving, #result{
    border: 3px #191970 solid;
}

table, #result div {
    margin: 1rem;
    border-collapse: collapse;
}

table a {
    text-decoration-line: none;
    color : black;
    width: 100%;
    display: inline-block;
    padding: .5rem;
}

table a:hover {
    font-weight: bold;
    background-color: lightblue;
}

th {
    text-align: left;
    padding-left: 2vw;
}

tr td:first-child, #result div {
    text-align: right;
}

tr td:last-child {
    width: 25%;
}

td {
    border: 1px solid teal;
    text-align: right;
    padding-right: .5rem;
}
