* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    width: 100%;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

#title {
    flex-basis: 100%;
}

h2{
    padding: 0;
    margin: 0;
}

#side {
    flex-basis: 50%;
}

section {
    background-color: #4080ddf0;
    margin: .5rem;
    box-shadow: black 3px 3px 3px 3px;
    display: flex;
    flex-direction: column;
}

table {
    background-color: teal;
}

table, #result div {
    margin: .5rem;
    border-collapse: collapse;
}

table a {
    text-decoration-line: none;
    color : black;
    width: 100%;
    display: inline-block;
    padding: .25rem;
}

table a:hover {
    font-weight: bold;
}

#saving div {
    background-color: #add8e6;
    margin: 1rem;
    text-align: right;
}

#saving span {
    display: inline-block;
    width: 25%;
}

th {
    text-align: left;
    padding-left: 2vw;
}

tr td:first-child, #result div {
    text-align: right;
}

tr td:last-child {
    width: 25%;
}

td {
    border: 1px solid teal;
    text-align: right;
    padding-right: .5rem;
    background-color: #add8e6;
}

/**    modal window    **/
#theBox {
    text-align: center;
}
